<script src='online.js'></script>
<h1><a href="kainy.cn">kainy.cn</a></h1>
<p>频道:<span id="cha"></span></p>
<p>连接数:<span id="con"></span></p>
<p>用户数:<span id="usr"></span></p>


<br>
<br>

<script>
var $=document.querySelector.bind(document);

var cha=$('#cha'),
	con=$('#con'),
	usr=$('#usr');

var ol=new Online('wss://'+location.host+'/online');
	ol.enter('demo');
	ol.onOnlineChange=function(data){
		console.log(data)
		cha.innerHTML=data.g;
		con.innerHTML=data.c;
		usr.innerHTML=data.u;
	}
</script>